<% const d=new Date(); let year=d.getFullYear(); %>
<!-- NOTE: I had to add the two semicolons above, per claude suggestion, to get the code to work -->
  <footer>
    <p class="copyright">&copy; <%= year %>, CSE 340 App</p>
  </footer>