<!-- Next: figure out why small screen is only going down to 574px -->

 <!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %>

  <body>
    <div class="body-box">
    <%- include('partials/header.ejs') %>
    <%- include('partials/navigation.ejs') %>
    <main>
      <h1>Welcome to CSE Motors!</h1>
      <img class="hero" src="/images/vehicles/delorean.jpg" alt="DMC Delorean Hero">
      <section class="floating-text">
        <h2>DMC Delorean</h2>
        <p>3 Cup holder</p>
        <p>Superman doors</p>
        <p>Fuzzy dice!</p>
        <a href="#">
          <img src="/images/site/own_today.png" alt="Own today button">
        </a>
      </section>
      <div class="sections-div">
        <section class="reviews">
          <h2>DMC Delorean Reviews</h2>
          <ul>
            <li>"So fast it's almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80's livin' and I love it!" (5/5)</li>
          </ul>
        </section>
        <section class="upgrades">
          <h2 class="upgrades-h2">Delorean Upgrades</h2>
          <a href="#">
            <figure>
            <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor">
            </figure>
            <p>Fux Capacitor</p>
          </a>
          <a href="#">
            <figure>
            <img src="/images/upgrades/flame.jpg" alt="Flame Decals">
            </figure>
            <p>Flame Decals</p>
          </a>
          <a href="#">
            <figure>
            <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
            </figure>
            <p>Bumper Stickers</p>
          </a>
          <a href="#">
            <figure>
            <img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps">
            </figure>
            <p>Hub Caps</p>
          </a>
        </section>
      </div>
    </main>

    <%- include('partials/footer.ejs') %>
    </div>
  </body>

</html>