/******* Change Box Model ***************/
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --baby-blue: #05c3dd;
  /* Bright Blue */
  --secondary-color: #6c757d;
  /* Muted Gray */
  --off-white: #f8f9fa;
  --rgb-off-white: 248, 249, 250;
  /* Light Background.  RGB  used so can be transparent*/
  --text-color: #212529;
  /* Dark Text */
}

/*---------Small/General Screens---------*/
html {
  background-image: none;
}

body {
  width: 100%;
  max-width: 100%;
  min-width: 0;
  padding: 0 1rem;
  margin: 0 auto;
  border: none;
  background-color: white;
}

header {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;

  & a {
    text-decoration: none;
  }

  & .siteName {
    font-size: 2rem;
  }
}     

nav {
  margin-top: 1rem;

  & ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    color: var(--off-white);
    background-color: black;
    padding: 1rem 0;
  }

  & li:hover {
    cursor: pointer;
  }
}

h1 {
  margin-top: 1rem;
}

main {
  position: relative;

  & .hero {
      /* position: relative; */
      padding: 2rem 1.5rem;
      width: 100%;
      max-width: 400px;
      margin: 0 auto;
    }
  
  & .floating-text {
    position: absolute;
    top: 70px;
    left: 10px;
    color: var(--baby-blue);
    background: rgba(var(--rgb-off-white), 0.5);
  }

  & .floating-text img {
    margin-right: 2rem;
    width: 7rem;
    height: 100%;
  }

  & .reviews h2 {
    padding-bottom: 0.5rem;
  }

  & .reviews ul {
    padding-left: 1rem;
  }

  & .reviews li {
    padding: 0.4rem 0;
  }

  & .upgrades {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;    
    margin: 1rem 0;
  }

  & .upgrades-h2 {
    grid-column: 1 / -1;
    justify-self: flex-start;
  }

  & .upgrades figure {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--baby-blue);
    height: 5rem;
    border: solid 1px var(--text-color);
  }

  & .upgrades p {
    text-align: center;
  }
}

footer {
  margin-top: 3rem;
}
/*---------END Small/General Screens---------*/


/*---------Large Screens---------*/
@media screen and (min-width: 600px) {
  html {
    background-image: url('/images/site/small_check.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* optional: keeps it static while scrolling */
    min-height: 100vh;
  }

  body {
    width: calc(100% - 4rem);
    /* above: keeps left right margins when <maxwidth */
    max-width: 900px;
    padding: 0 2rem;
    margin: 1rem auto;
    background-color: white;
    border: 3px solid var(--baby-blue);
  }

  main .hero {
    max-width: 600px;
  }

  main .floating-text {
    top: 100px;
    left: 30px;
  }

  .sections-div {
    display: grid;
    grid-template-columns: 1fr 1fr;

    & .reviews {
      grid-column: 2 / 3;
      /* grid-row: 1 / 2; */
      padding-left: 1rem;
    }

    & .upgrades {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      margin: 0;
    }
  }
}